<% layout("layouts/boilerplate.ejs") %>

<h1 class="mb-4">Reviews</h1>
<% for(let review of reviews) { %>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body px-4">
        <h5 class="card-title">Camp Review</h5>
        <p class="card-text"><%= review.review %></p>
        <p class="card-text">
          <% for(let i = 0; i < review.rating; i++) { %>
          &#9733; 
          <% } %>
        </p>
        <div class="d-flex">
          <a href="/campgrounds/<%= review.parentCamp._id %>" class='btn btn-primary'>Go to Camp</a>
          <form action="/campgrounds/<%= review.parentCamp._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger mx-2">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
