<% layout('layouts/boilerplate.ejs') %>
<div class="row">
	<div class="col-6 offset-3">
		<div class="alert alert-danger" role="alert">
			<h2><%= err.message %></h2>
			<p>The page you are looking for does not exist or an other error occured. Go back, or head over to <a href="/campgrounds" class="alert-link">localhost:3000</a> to choose a new direction </p>
		</div>
	</div>
</div>