<% layout('layouts/boilerplate.ejs') %>

<div class="card mx-auto mb-5 shadow-sm" style="width: 40vw;">
  <img src="../images/loginbg.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
	<form class="needs-validation d-flex flex-column" action="/login" method="POST" novalidate>
		<input type="text" placeholder="Username" class="form-control my-1" name="username" autofocus required>
		<input type="password" name="password" placeholder="Password" class="form-control my-1" required>
		<button class="btn btn-success my-1">Log In</button>
	</form>
  </div>
</div>

<script src="/js/validation.js"></script>